<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683791063936-9s6315iaq9plqfq98k23ra4r9gninai8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683791063936-9s6315iaq9plqfq98k23ra4r9gninai8</string>
	<key>API_KEY</key>
	<string>AIzaSyDGUNfVFRSEWx_KwJ_9PxrSBDXsQICHPFE</string>
	<key>GCM_SENDER_ID</key>
	<string>683791063936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danzucker.stitchpad</string>
	<key>PROJECT_ID</key>
	<string>stitchpad-30607</string>
	<key>STORAGE_BUCKET</key>
	<string>stitchpad-30607.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683791063936:ios:75589f30c15fb46a693f65</string>
</dict>
</plist>